<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campus.runner.mapper.OrderReviewMapper">

    <!-- 跑腿员收到的评价分页 -->
    <select id="pageByRunnerId" resultType="com.campus.runner.entity.OrderReview">
        select * from order_review
        where runner_id = #{runnerId}
        order by create_time desc
    </select>
</mapper>
